header .top-middle{
    min-height: 80px;
    max-height: 500px;
}

header .top-middle .emblem {
    width: 80px;
}

header .top-middle .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .top-middle .client-logo {
    width: 70px;
    height: 80px;
}
/* .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
} */


.img-fluid{
    max-width: 100%;
    height: auto;
}

.image-container {
    text-align: center; /* To center the image within the container */
  }
  
  .title-container {
    margin-top: 10px; /* To add some space between the image and the title */
  }
.message-director {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    background-color: rgba(218, 162, 9, 0.938); 
    color: white; 
    padding: 4px 10px; 
    font-size: 15px; 
    font-weight: bold; 
    width: 100%; 
    margin: 0;
    text-align: center;
}
.title-font {
    font-size: 20px;
}
@media (max-width:576px) {
    .message-director {
        padding: 2px 5px; 
        font-size: 11px;
        text-align: center;
    }
}

@media (min-width:768px) {
    .message-director {
        font-size: 15px;
    }
}